In [1]:
import pandas as pd

In [2]:
coffee = pd.read_csv(r"C:\Users\saloni\Python_Lib\Pandas\Raw_data\coffee.csv")

In [16]:
print(coffee)

In [4]:
coffee.loc[1,'Units Sold']= 10  # to format/change a value in dataframes

In [15]:
coffee.at[0, 'Day']
# a very optimized way to get a single value. note that it cannot be used to get mutiple values.

'Monday'

In [14]:
coffee.iat[0,1]
# similar to iloc but only gives a single value

'Espresso'

In [23]:
coffee.sort_values('Units Sold') # to get in ascending order.
coffee.sort_values('Units Sold', ascending = False) # to get in descending order.
coffee.sort_values(['Units Sold', 'Coffee Type']) # to get multiple parameters
coffee.sort_values(['Units Sold', 'Coffee Type'], ascending=[0,1]) # to set the ascending and descending order while getting multiple parameters.

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          10

In [25]:
# though not recommended but good to know:
for index,rows in coffee.iterrows():
    print(index)
    print (rows)
    print('\n\n\n\n')

0
Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object





1
Day            Monday
Coffee Type     Latte
Units Sold         10
Name: 1, dtype: object





2
Day             Tuesday
Coffee Type    Espresso
Units Sold           30
Name: 2, dtype: object





3
Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object





4
Day            Wednesday
Coffee Type     Espresso
Units Sold            35
Name: 4, dtype: object





5
Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object





6
Day            Thursday
Coffee Type    Espresso
Units Sold           40
Name: 6, dtype: object





7
Day            Thursday
Coffee Type       Latte
Units Sold           30
Name: 7, dtype: object





8
Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object





9
Day            Friday
Coffee Type     Latte
Units Sold         35
Name: 9, dtype: object





10
Day            Saturday
Coffee Type    Espresso
Units Sold           45
Name: 10, dtype: object





11
Day            Saturday
Coffee Type       Latte
Units Sold           35
Name: 11, dtype: object





12
Day              Sunday
Coffee Type    Espresso
Units Sold           45
Name: 12, dtype: object





13
Day            Sunday
Coffee Type     Latte
Units Sold         35
Name: 13, dtype: object